<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <title>Inicio</title>
    <div th:replace="layout/template :: head" />
</head>
<body>
    <div class="container" style="width: 30vw">
        <header th:replace="layout/template :: header"></header>

        <div class="card border border-danger p-5">
            <form method="post">
                <h3>Make a donation</h3>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Total</label>
                    <input type="text" class="form-control" name="total">
                </div>


                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Currency</label>
                    <input type="text" class="form-control" name="currency">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Payment Method</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" name="method">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Intent</label>
                    <input type="text" class="form-control" name="intent">
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Payment Description</label>
                    <input type="password" class="form-control" name="description">
                </div>
                
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
                    the email has already been registered
                </div>
                <button type="submit" class="btn btn-primary">Continue to checkout</button>
            </form>
        </div>
    </div>
    <footer th:replace="layout/template :: footer"></footer>
</body>
</html>
